
@font-face {
	font-family: 'Golestan Koodak';
	src: url('/_fonts/Golestan Koodak.ttf');
}

@font-face {
	font-family: 'Golestan System';
	src: url('/_fonts/Golestan System.ttf');
}

@font-face {
	font-family: 'Golestan Nazanin';
	src: url('/_fonts/Golestan Nazanin.ttf');
}

@font-face {
	font-family: 'Golestan Traffic';
	src: url('/_fonts/Golestan Traffic.ttf');
}

@font-face {
	font-family: 'Golestan System Fix';
	src: url('/_fonts/Golestan System Fix.ttf');
}

@font-face {
	font-family: 'Golestan Titr';
	src: url('/_fonts/Golestan Titr.ttf');
}

@font-face {
	font-family: 'IranNastaliq';
	src: url('/_fonts/IranNastaliq1/IranNastaliq.ttf');
}

@font-face {
	font-family: 'B Nazanin';
	src: url('/_fonts/B Nazanin.ttf');
}

@font-face {
	font-family: 'Nazanin';
	src: url('/_fonts/NAZ___SF.ttf');
}













